node_modules/
build/
dist/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
.log

.DS_Store
Thumbs.db

.vscode/
.idea/

.eslintcache
node_modules



./game/tools/*
!./game/tools/convertitoreObj.py